@_color-primary:   #59509b;
@_color-secondary: #dfc462;

@color-header: @_color-primary;
@color-link: @_color-primary;
@color-text: #5A5A5A;
@color-code: desaturate(@_color-primary, 10%);
@color-code-keyword: @_color-primary;
@color-code-value:   darken(@_color-secondary, 20%);
@color-code-comment: saturate(@color-code-background, 15%);
@color-code-background: lighten(desaturate(@_color-secondary, 50%), 20%);

@color-danger: #cc1111;

@color-body-background: white;
@color-header-background: @color-body-background;
@color-header-text: @_color-primary;
@color-header-border:     @color-body-background - #222;

@color-nav-background:  @color-header-background;
@color-nav-text:        @color-header-text;

@color-form-background: @color-body-background;
@color-form-input-background: @color-form-background - #222;
@color-form-input-text: @color-text;

@color-btn-text: @_color-primary;
@color-btn-background: @_color-secondary;

@color-contextmenu-border: @_color-primary;
@color-contextmenu-background: @color-body-background;
@color-contextmenu-text: @_color-primary;

@color-modal-background: @color-body-background;
@color-modal-border: @_color-primary;

@color-flash-alert-background: #ff0000;
@color-flash-alert-text:       white;
@color-flash-notice-background:@_color-primary;
@color-flash-notice-text:      @_color-secondary;

@color-search-background:      @color-form-input-background;
@color-search-text:            @color-form-input-text;

@color-tag-text:    @_color-primary;
@color-tag-background: @_color-secondary;

@color-panel-background: desaturate(@_color-secondary, 40%) + #222;
@color-panel-text:       @_color-primary;

@color-dropdown-background: @color-body-background;
@color-dropdown-text:       @_color-primary;

body{
  color: @color-text;
  background: @color-body-background;

  a {
    color: @color-text;
  }
}

h1,h2,h3,h4,h5,h6 {
  color: @color-header;
}

article {
  a {
    color: lighten(@color-text, 10%);
  }
}
