@_color-primary:   #59509b;
@_color-secondary: #dfc462;

@color-header: @_color-primary;
@color-link: @_color-primary;
@color-text: #5A5A5A;
@color-code: #5A5A5A;

@color-body-background: white;
@color-header-background: @color-body-background;
@color-header-text: @_color-primary;
@color-header-border:     @color-body-background - #222;

@color-form-background: @color-body-background;
@color-form-input-background: @color-form-background - #222;
@color-form-input-text: @color-text;

@color-btn-text: @_color-primary;
@color-btn-background: @_color-secondary;

@color-contextmenu-border: @_color-primary;
@color-contextmenu-background: @color-body-background;
@color-contextmenu-text: @_color-primary;

@color-modal-background: @color-body-background;
@color-modal-border: @_color-primary;

@color-flash-alert-background: #ff0000;
@color-flash-alert-text:       white;
@color-flash-notice-background:@_color-primary;
@color-flash-notice-text:      @_color-secondary;

@color-search-background:      @color-form-input-background;
@color-search-text:            @color-form-input-text;

body{
  color: @color-text;
  background: @color-body-background;

  a {
    color: @color-text;
  }
}

.btn{
  color:      @color-btn-text;
  background: @color-btn-background;
  &:hover{
  color:      @color-btn-background;
  background: @color-btn-text;
  }
}

.toggle{
  color: @_color-primary;
}


.navbar, .navbar-aside{
  background: @color-header-background;
  border-color: @color-header-border;
  a,span,h1,h2,h3,h4,h5,h6{
    color:        @color-header-text;
  }
  nav{
    ul>li{
      background: @color-header-background;
    }
    ul>li>a{
      background: @color-header-background;
      color: @color-header-text;
    }
    ul>li>a:hover{
      background: @color-header-text;
      color: @color-header-background;
    }
  }

}

h1,h2,h3,h4,h5,h6 {
  color: @color-header;
}

code{
  color: @color-code;
}

article {
  a {
    color: lighten(@color-text, 10%);
  }
}

form{
  input{
    background: @color-form-input-background;
    color: @color-form-input-text;
  }
}

.context-menu{
  background: @color-contextmenu-background;
  a {
    color: @color-contextmenu-text;
    background: @color-contextmenu-background;
  }

  a:hover{
    background: @color-contextmenu-text;
    color: @color-contextmenu-background;
  }
}

.modal{
  background: @color-modal-background;
}

.notice{
  background: @color-flash-notice-background;
  color:      @color-flash-notice-text;
}

.alert{
  background: @color-flash-alert-background;
  color:      @color-flash-alert-text;
}
