@font-navbar: 'Quicksand';
@font-size-button: 1em;
@font-line-height: 1em;
@font-family-heading:   'Quicksand Light';
@font-family-code: 'Cutive Mono';
@font-family-form-input: 'Quicksand Light';
@font-family-article:    'Libre Baskerville';

@font-size-h1: 1.85em;

body {
  font-family: 'Quicksand';
  font-size: 1em;

  h1, h2, h3, h4, h5, h6{
    font-family: @font-family-heading;
  }
  h1 { font-size: @font-size-h1; }
  h2 { font-size: @font-size-h1 * 0.85; }
  h3 { font-size: @font-size-h1 * 0.75; }
  h4 { font-size: @font-size-h1 * 0.65; }
  h5 { font-size: @font-size-h1 * 0.60; }
  h6 { font-size: @font-size-h1 * 0.55; }

  a {
    text-decoration: none;//
  }

  nav{
    li { list-style: none; }
  }

  header{
    font-family: @font-navbar;
    .logo {
      font-size: 1.1 * @font-size-h1;
    }
  }

  article{
    font-family: @font-family-article;
    font-size:   1em;
    h1,h2,h3,h4,h5,h6 {
      font-style: normal;
    }
  }
}

code{
  font-family: @font-family-code;
  span { background: none; }
}

.input{
  font-family: @font-family-form-input;
}
