.color-hover(@fg, @bg){
    color: @fg;
    background: @bg;
  & when not(@bg = transparent){
    &:hover{
      color: @bg;
      background: @fg;
    }
  }

  & when (@bg = transparent){
    &:hover{
      color: invert(@fg);
      background: @fg;
    }
  }
}
