@import '../mixins/color-hover.less';

.btn{
  border:       none;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-family: 'Quicksand';
  font-size: @font-size-button;
  padding: 3px;
  .color-hover(@_color-primary, @_color-secondary);
  &:hover{ cursor: pointer; }

  transition: color 0.1s;
  .flaticon:before{
    font-size: @font-size-button;
  }
}

.btn-primary{
  .btn;
  .color-hover(@_color-secondary, @_color-primary);
}

.btn-danger{
  .btn;
  .color-hover(white, @color-danger);
}
