.btn{
  border:       none;

  display: inline-flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-family: 'Quicksand';
  padding: 3px;
  &:hover{
    color: black;
  }

  transition: color 0.1s;
}

.btn-small{
  .btn;
  border-radius: 12px;
  min-width: 21px;
  padding: 0;
}

.btn-bold{
  font-weight: bold;
}
