.flash{
  &:before{
    font-weight: bold;
    margin-right: 0.3em;
  }
  position: absolute;
  top: 0px;
  left: 0px;
  margin: 0px;
  min-height: @height-navbar;
  z-index: 999;
  width: 100%;
  opacity: 0.8;
  display: flex;
  @media(min-width: @media-hh-min) and (max-width: @media-sm-max){
    flex-direction: column;
  }
  @media(min-width: @media-md-min) and (max-width: @media-lg-max){
    flex-direction: row;
  }
  justify-content: center;
  align-items:    center;

  font-size: 0.85 * @font-size-h1;
  .rolled-up;
}

.notice{
  .flash;
  &:before{
    content: 'NOTICE:';
  }
  background: @color-flash-notice-background;
  color:      @color-flash-notice-text;
}

.alert{ 
  .flash;
  &:before{
    content: 'ALERT: ';
  }
  background: @color-flash-alert-background;
  color:      @color-flash-alert-text;
}

.flash.static{
  position: relative;
}
