form{
  input{
    border: none;
    margin-top: 10px;
    padding-left: 10px;

    &:not(.boolean){
      label { display: none}
    }
  }

  input[type="submit"]{
    .btn
  }

  input[type="checkbox"]{
    height: 12px;
    width: 12px;
  }
}
