.input{
  display: inline-block;
  border: none;
  margin-top: 10px;
  margin-left: 0.5em;
  background: @color-form-input-background;
  color: @color-form-input-text;
}

input{
  .input;
  &[type='text']{
    padding-left: 0.5em;
  }
}

.input {
  &:not(.boolean){
    label { display: none}
  }
}

input[type="submit"]{
  .btn
}

input[type="checkbox"]{
  height: 1em;
  width: 1em;
}
.hh-1-sm-2{
    .col(1,1,@media-hh-min, @media-hh-max);
    .col(1,2,@media-sm-min, @media-lg-max);
    @media (max-width: @media-hh-max){ .center; }
    @media (min-width: @media-sm-min){ .pull-right; }
}
.formgroup{
  .row;
  label{
    .hh-1-sm-2;
  }
  input{
    .hh-1-sm-2;
  }
}

form{
  overflow: hidden;
}

.select{
  .input;
}

.select-option{
}
